<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>認証コード入力</title>
	<link rel="stylesheet" th:href="@{/css/UserAuthentication.css}">
</head>
<body>
    <div class="container">
        <p class="main-text">メールで送信された6桁の認証コードを<br>入力してください。</p>
		<!-- エラーメッセージ表示領域 開始-->
		<div th:if="${!(UserRegistrationDto.errormessageAreaList == null) and !#lists.isEmpty(UserRegistrationDto.errormessageAreaList)}">
		  <div class="error-messages">
		    <ul>
		      <li th:each="error : ${UserRegistrationDto.errormessageAreaList}" th:text="${error.errorMessage}"></li>
		    </ul>
		  </div>
		</div>
		<!-- エラーメッセージ表示領域 終了-->
        <form id="auth-code-form" th:action="@{/UserRegistration/authentication}" th:object="${UserAuthenticationDto}" method="POST">
            <div class="form-group">
                <label for="auth-code">認証コード</label>
                <input type="text" id="auth-code" name="authCode" maxlength="6" pattern="\d{6}" placeholder="123456"  th:field="*{token}" required>
            </div>
            <button type="submit" class="btn">確認</button>
        </form>
		<div class="link">
	        <p class="resend">コードが届かない場合は<a href="#" id="resend-link">再送信</a>してください。</p>
			<p class="register">
				<a th:href="@{/UserRegistration/authentecationToRegister}">アカウント登録に戻る</a>
			</p>
		</div>
    </div>
	<input type="hidden" name="screenId" th:value="${SystemInfo.currentScreenId}">
	<script th:src="@{/js/UserAuthentication.js}"></script>
</body>
</html>
