@charset "UTF-8";

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4A90E2;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

.home-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.home-button .app-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.search-box {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-box:focus {
  border: 1px solid #007BFF; /* フォーカス時の枠線を青色に変更 */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* フォーカス時の視覚効果を追加 */
}

.right-section button {
  margin-left: 10px;
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  background-color: #4A90E2;;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.right-section button:hover {
  background-color: #0984e3;
}

.logout-button {
  background-color: #dc3545;
}

.logout-button:hover {
  background-color: #a71d2a;
}
