/* 全体のリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 要素の幅計算を一貫性のあるものに */
}

/*h2::after {*/
/*  content: '';*/
/*  width: 50px;*/
/*  height: 3px;*/
/*  background: #0984e3;*/
/*  display: block;*/
/*  margin: 8px auto 0;*/
/*}*/
h2 {
  font-size: 26px;
  background: #233B6C;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

/* bodyのレイアウト調整 */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* コンテナ */
.container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 360px;
  width: 100%;
}

/* タイトル */
h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

/* エラーメッセージエリア */
.error-messages {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffe6e6; /* 赤の背景色（薄い） */
  border: 1px solid #ff9999; /* 少し濃い赤で枠線 */
  border-radius: 5px;
}

/* エラーメッセージリスト */
.error-messages ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error-messages li {
  color: #e74c3c; /* エラーメッセージの赤色 */
  font-size: 14px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

.error-messages li::before {
  content: '⚠'; /* スタイリッシュなアイコン（警告マーク） */
  color: #e74c3c;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

/* フォームグループ */
.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

input:focus {
  border-color: #85b7d9;
  outline: none;
  box-shadow: 0 0 5px rgba(133, 183, 217, 0.5);
}

/* 登録ボタン */
button {
  background-color: #4A90E2; /* デフォルトは濃い色 */
  color: #fff;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* なめらかな変化 */
}

button:hover {
  background-color: #5AA1F2; /* ホバーで明るい色 */
  transform: scale(1.01); /* ホバーで少し拡大 */
}

.main-text {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-size: 15px;
  color: #555;
}

.resend-text {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.resend-text a {
  color: #74b9ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.resend-text a:hover {
  color: #0984e3;
}